body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #8a79de;
}
h1 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 4rem;
  color: #ffffff;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
}

select {
  border: none;
  padding: 10px;
  border-radius: 5rem;
  outline: none;
}

.input {
  border: 3px solid #333333;
  border-radius: 0.3em;
  padding: 0.6rem;
  width: 7em;
  outline: none;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 4rem;
}
